@import "colors";

body {
  main {
    margin-left: 30vh;
    margin-top: 10vh;
    width: 50vw;
  }
}

@media screen and (max-width: 1200px) {
  body {
    main {
      margin-left: 10vh;
      width: 60vw;
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    main {
      margin-top: 2em;
      margin-left: 2em;
      margin-right: 2em;
      width: auto;
    }
  }
}

body {
  background-color: $background;

  color: $foreground;
  font-family: 'Hack', monospace;

  h1 {
    font-family: 'Agency FB', monospace;

    font-size: 5em;
    margin-bottom: 0.6em;
  }

  line-height: 1.6em;
  letter-spacing: 0.04em;

  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  a {
    color: $highlight;
  }

  ul, ol {
    list-style-type: "> ";
    list-style-position: inside;
  }

  strong {
    font-weight: bold;
    color: $foreground-alt;
  }

  img {
    width: 100%;
    max-width: 500px;
  }

  code {
    color: $foreground-alt;
  }
}

@font-face {
  font-family: 'Agency FB';
  src: URL('/fonts/agencyfb.ttf') format('truetype');
}

@font-face {
  font-family: 'Hack';
  src: URL('/fonts/hack.ttf') format('truetype');
}
